html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	height: 100%;
}
.direction {
	position: fixed;
    top: 10px;
    right: 10px;
	z-index: 100;
}
.switch {
	position: relative;
	height: 26px;
	width: 120px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}
.switch-label {
	position: relative;
	z-index: 2;
	float: left;
	width: 58px;
	line-height: 26px;
	font-size: 11px;
	color: rgba(255, 255, 255, 0.35);
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
	cursor: pointer;
}
.switch-input {
	display: none;
}
.switch-input:checked + .switch-label {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.65);
	text-shadow: 0 1px rgba(255, 255, 255, 0.25);
	-webkit-transition: 0.15s ease-out;
	-moz-transition: 0.15s ease-out;
	-o-transition: 0.15s ease-out;
	transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
	left: 60px;
}
.switch-selection {
	display: block;
	position: absolute;
	z-index: 1;
	top: 2px;
	left: 2px;
	width: 58px;
	height: 22px;
	background: #65bd63;
	border-radius: 3px;
	background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
	background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
	background-image: -o-linear-gradient(top, #9dd993, #65bd63);
	background-image: linear-gradient(to bottom, #9dd993, #65bd63);
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
	-webkit-transition: left 0.15s ease-out;
	-moz-transition: left 0.15s ease-out;
	-o-transition: left 0.15s ease-out;
	transition: left 0.15s ease-out;
}
.whodunnit {
	position: fixed;
    bottom: 130px;
    right: 10px;
	z-index: 100;
	font-size: 11px;
	color: rgba(255, 255, 255, 0.35);
	background: rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	padding: 8px 16px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}
