* {
    box-sizing: border-box;
}

#map {
    width: 100%;
    height: 80vh;
    border: 1px solid black;
}

#legend {
    position: relative;
    width: 100%;
    height: 10vh;
    margin-top: 10px;
}

#legendGradient {
    width: 100%;
    height: 30%;
    border: 1px solid black;
}

